*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;

}
body{

}
.container{
    width: 100%;
    height: 100vh;
    background-color: pink;
}
.nav-bar{
    width: 95%;    
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    display: flex;
}
.nav-bar ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 2px;

}
.nav-bar ul li a{
    text-decoration: none;
    color: white;
    font-size: x-large;
}
.nav-bar ul li a:hover{
    background-color: rgb(51, 34, 77);
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s;  
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.wrapper{
    width: 400px;
    background: rgb(51, 34, 77);
    color: pink;
    border-radius: 50px;
    padding: 30px 40px;
}
.wrapper h2{
    font-size: 30px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    
    width: 100%;
    height: 50px;
    margin: 20px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid pink;
    border-radius: 40px;
    color: pink;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: pink;
}
.input-box ion-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px; 
}
.wrapper .forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}
.forgot a{
    color: pink;
    text-decoration: none;
}
.forgot a:hover{
    text-decoration: underline;
    color: red;
}
.wrapper .button{
    width: 100%;
    height: 40px;
    background: pink;
    border: none;
    outline: none;
    border-radius: 40px;
    
    cursor: pointer;
    font-size: 16px;
    color: rgb(51, 34, 77);
    font-weight: 600;
}